<!DOCTYPE html>
<html>
    <head>
        <script>
            const gameId = '{{ game_id }}';
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/static/gomoku/script.js"></script>
        <link rel="stylesheet" href="/static/gomoku/style.css">
        <title></title>
    </head>
    <body>
        <div class="content">
            <div class="sidebar">
                {% if session %}
{#                    <h1>Logged in as {{session.userinfo.name}}!</h1>#}
                    <a href="/logout?url={{ url }}">Logout</a>
                {% else %}
                    <a href="/login?url={{ url }}">Click to log in</a>
                {% endif %}
            </div>
            <div class="board">
                <img src="/static/gomoku/board.png" alt="Game board">
                <table class="triggers">
                    <tbody>
                        {%for i in range(15)%}
                        <tr>
                            {%for j in range(15)%}
                            <td>
                                <a onclick="placePiece({{ i ~ ", " ~ j }})">
                                    <img class="piece" src="/static/gomoku/pieces/none.png" alt="Game piece">
                                </a>
                            </td>
                            {%endfor%}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="game-menu">
                {% for i in range(2) %}
                <div class="player-display">
                    <div class="avatar">
                        <img src="/static/gomoku/avatar/default.png" alt="Player Avatar">
                    </div>
                    <div class="player-display-property player-display-property-{{ "black" if i == 0 else "white" }}"></div>
                </div>
                {%endfor%}
            </div>
        </div>
    </body>
</html>